html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    background-color: #FFF;
    color: #303030;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1220px;
    padding: 0px 10px;
    margin: 0 auto;
}

.top {
    margin-bottom: 150px;
}

.promo {
    background-image: url(../images/promo-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center;
}

.top__logo {
    padding: 70px 0 140px;
}

.top__text {
    font-size: 18px;
    line-height: 25px;
}

.top__title {
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 3px;
    line-height: 87px;
}

.top__subtitle {
    font-size: 42px;
    margin-bottom: 120px;
    line-height: 57px;
}

.top__link {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: transparent;
    border: solid 2px #FFF;
    border-radius: 50%;
    display: flex;
    position: relative;
    left: 37%;
    justify-content: center;
    align-items: center;
    transition: background-color .5s;
    margin-bottom: 250px;
}

.top__link::before {
    content: 'записать на консультацию';
    position: absolute;
    bottom: 16%;
    left: 32%;
    width: 258px;
}

.top__link:hover {
    background-color: #A9A32A;
}

.top__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-bottom: 38px;
}

.services {
    margin-bottom: 150px;
}

.title {
    color: #868585;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.services__inner {
    display: flex;
    justify-content: space-between;
}

.services__img {
    order: 1;
}

.services__list-item {
    max-width: 510px;
    padding-right: 15px;
}

.services__list-item + .services__list-item {
    margin-top: 50px;
}

.services__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
}

.services__item-text {
    font-size: 14px;
    line-height: 19px;
}

.tariff {
    margin-bottom: 150px;
}

.tariff__inner {
    display: flex;
    justify-content: space-between;
}

.tariff__slider {
    max-width: 510px;
}

.tariff__slider {
    margin-bottom: 100px;
}

.slick-initialized .slick-slide {
    display: flex;
    justify-content: space-between;
}

.tariff__slider-text {
    max-width: 235px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}

.tariff__slider-prev-arrow,
.tariff__slider-next-arrow {
    position: absolute;
    bottom: -5px;
    cursor: pointer;
    z-index: 5;
}

.tariff__slider-prev-arrow {
    left: 54%;
}

.tariff__slider-next-arrow {
    left: 67%;
}

.tariff__pluses-list {
    max-width: 510px;
}

.tariff__pluses-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tariff__list-item {
    max-width: 235px;
    margin-bottom: 15px;
}

.tariff__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
}

.tariff__item-text {
    font-size: 14px;
    line-height: 19px;
}

.tariff__info-text {
    max-width: 600px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 17px;
}

.solar_station {
    margin-bottom: 150px;
}

.solar_station {
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/solar_station.jpg);
}

.solar_station-text {
    font-size: 42px;
    line-height: 57px;
    max-width: 673px;
    padding: 128px 0 144px;
    color: #FFF;
    margin: 0 auto;
    text-align: center;
}

.steps {
    margin-bottom: 150px;
}

.steps__inner {
    display: flex;
    justify-content: space-between;
}

.steps__list {
    max-width: 510px;
}

.steps__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 2px;
}

.steps__item-text {
    font-size: 14px;
    line-height: 19px;
}

.steps__list-item + .steps__list-item {
    margin-top: 30px;
}

.steps__list {
    counter-reset: number;
}

.steps__list-item {
    position: relative;
    padding: 30px 15px 0 0;
    list-style-type: none;
}

.steps__list-item::before{
    counter-increment: number;
    content: '0' counter(number);
    position: absolute;
    top: 0;
    color: #868585;
    font-size: 14px;
    line-height: 19px;
}

.clients {
    margin-bottom: 150px;
}

.clients__inner {
    display: flex;
    justify-content: space-between;
}

.clients__slider {
    max-width: 510px;
}

.clients__slider-prev-arrow,
.clients__slider-next-arrow {
    position: absolute;
    bottom: -32px;
    z-index: 5;
    cursor: pointer;
}

.clients__slider-prev-arrow {
    right: 40%;
}

.clients__slider-next-arrow {
    right: 27%;
}

.clients__info-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    max-width: 480px;
}

.clients__list {
    padding-left: 50px;
    margin-bottom: 65px;
}

.clients__list-item {
    margin-bottom: 15px;
}

.clients__item-text {
    font-size: 14px;
    line-height: 19px;
}

.clients__info-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: solid 2px #303030;
    border-radius: 50%;
    transition: background-color .5s;
    position: relative;
}

.clients__info-link:hover {
    background-color: #A9A32A;
}

.clients__info-link::before {
    content: 'записаться на консультацию';
    position: absolute;
    left: 57%;
    bottom: 20%;
    width: 280px;
}